# IntelliJ
.idea/
*.iml

# Build output
out/
target/
build/

# Logs
*.log

# Ignored resource files
resource/**/*.txt
resource/**/*.csv
/src/main/resource/**/*.txt
/src/main/resource/**/*.csv
src/main/java/com/wasp/scs/wDel/*

# System
.DS_Store
Thumbs.db